<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/header.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    {% if css %}
    <link rel="stylesheet" href="{{url_for('static',filename= css)}}">
    {% endif %}
    <title>{{title}}</title>
    <style>
      .loading{
        background-image: url("{{url_for('static',filename='images/loading.svg')}}");
      }
    </style>
</head>
<body>
    <div class="Navbar ">
        <div class="menu item">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <div class="line-3"></div>
        </div>
        <nav class="nav item">
            <a href="{{url_for('loginPage')}}"><button id="boot1" type="button" class="btn btn-primary">Sign in</button></a>
            <a href="{{url_for('register')}}"><button id="boot2" type="button" class="btn btn-outline-primary">Create an account</button></a>
        </nav>       
    </div>
    <div class="loading">
      
    </div>
    {% block body %}
    {% endblock %}
    </body>
    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
    <script type="importmap">
    {
      "imports": {
        "@popperjs/core": "https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js",
        "bootstrap": "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.esm.min.js"
      }
    }
    </script>
    <script type="module">
      import * as bootstrap from 'bootstrap'

      new bootstrap.Popover(document.getElementById('popoverButton'))
    </script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="{{url_for('static',filename='js/header.js')}}"></script>
    {% if javaScript %}
    <script id="erasable" src="{{url_for('static',filename=javaScript)}}"></script>
    {% endif %}
    <script>
      const loading = document.getElementsByClassName('loading')[0];
      function delayLoad()
      {
        loading.remove();
      }
      window.addEventListener('load',()=>{
        time = 600
        setTimeout(delayLoad,time);
      })
    </script>
</html>