{% extends 'base.html' %}

{% block body %}
<div class="profContainer">
    <h1 class="welcome">Welcome {{current_user.first_name}}</h1>
    <div class="logoutBtn"><a href="/logout"><div class="btnContainer">
        <div style="position: relative;z-index:20">Logout</div>
        <div class="arrowContainer"><ion-icon class="arrowIcon" name="log-out-outline"></ion-icon></div>
    </div></a></div>
</div>

<script>

    const profContainer = document.getElementsByClassName('profContainer')[0];
    const welcome = document.getElementsByClassName('welcome')[0];
    const btnContainer = document.getElementsByClassName('btnContainer')[0];
    const logoutBtn = document.getElementsByClassName('logoutBtn')[0];


    const arrowIcon = document.getElementsByClassName('arrowIcon')[0];

    const conOB = new IntersectionObserver(entries=>{

        if(entries[0].isIntersecting)
        {
            setTimeout(function(){
                setTimeout(function(){
                    entries[0].target.style.cssText = "background-position:right;"
                },1000)
            })
        }
       
        if(entries[1].isIntersecting)
        {
            setTimeout(function(){
                setTimeout(function(){
                    entries[1].target.style.cssText = "opacity:1;transform:translateY(0px);"
                },1000)
            })
        }
       
    },{
        threshold:0.1
    })

    conOB.observe(profContainer);
    conOB.observe(welcome);

    setTimeout(function(){
        setTimeout(function(){
            logoutBtn.style.cssText = "transform:translateX(0px); filter: blur(0%);"
        },2000)
    })

    btnContainer.addEventListener('mouseover',()=>{
        arrowIcon.style.cssText = "transform:translateX(20px)"
        console.log('g')
    })

    btnContainer.addEventListener('mouseout',()=>{
        arrowIcon.style.cssText = "transform:unset;"

    })

    setTimeout(function(){
        profContainer.style.cssText = "background-position:right;transition:all 0s"
    },1100)
</script>
{% endblock %}