{% extends 'base.html' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename=css)}}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Delicious+Handrawn&family=Noto+Sans+Lao&family=Roboto:wght@500&display=swap" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    {% if "invalidVC" in session %}
    <div  class="alert alert-danger alert-dismissible fade show successMsg" role="alert">
        Invalid Verification Code , please try again.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <p>{{ session.pop("invalidVC", None) }}</p>
    {% endif %}


    
    <div class="vContainer">
        <h1>Enter Your Verification Code</h1><br>
        <div><img width="50px" src="../static/images/lock.png"></div><br>
        <form action="#" method="POST">
            <input name="userVC" class="inpt" type="text" placeholder="XXXXXXX">
            <div class="rWarning">
                <div><ion-icon class="warningIcon" name="alert-circle-outline"></ion-icon></div>
                <div class="rErrorMsg">Invalid Verification code</div>    
            </div>
            <button type="submit" id="boot" class="btn btn-success">Verify</button>
        </form><br><br>


        <div class="row">
            <p>verify your email address to create your account.</p>
            <p>We've sent an email to <span>{{current_user.email}}</span> with a verification code</p>
        </div>
    </div>
</body>

</html>
{% endblock %}